<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guohua.mlight">

    <!-- 所需要的所有权限 蓝牙 震动 音乐信息采集 外部存储读写 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Bmob用到的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Android6.0 蓝牙扫描才需要 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 加入persistent提高程序的系统优先级让程序不被轻易杀死 -->
    <application
        android:name=".common.base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎界面 -->
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GradientRampActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SceneModeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ShakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VisualizerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SelfieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".view.activity.AppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TemperatureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen" />
        <!-- 以下是BLE通信 -->
        <activity
            android:name=".communication.BLEActivity"
            android:screenOrientation="portrait" />
        <!-- 音乐律动服务和摇一摇服务 -->
        <service android:name=".service.VisualizerService" />
        <service android:name=".service.ShakeService" />

        <!-- 日出日落模式服务 -->
        <service android:name=".service.SceneSunGradientRampService">
            <intent-filter>
                <action android:name="com.guohua.glight.service.SceneSunGradientRampService" />
            </intent-filter>
        </service>

        <!-- 渐变模式服务 -->
        <service android:name=".service.GradientRampService">
            <intent-filter>
                <action android:name="com.guohua.glight.service.GradientRampService" />
            </intent-filter>
        </service>

        <!-- 情景模式服务 -->
        <service android:name=".service.DriveModeService">
            <intent-filter>
                <action android:name="com.guohua.glight.service.DriveModeService" />
            </intent-filter>
        </service>

        <service android:name=".communication.BLEService" />

        <receiver android:name=".receiver.TelephonyReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.TesterActivity" />
    </application>

</manifest>